header {
	/* display: none; */
}

.content {
	margin: 20px 40px;
	text-align: center;
}

.content-one {
	background: #eee;
	padding: 20px 40px;
}

.content-one p:first-child {
	margin-bottom: 30px;
}

.content-two {
	width: 320px;
	margin: auto;
}

.content-two img {
	width: 140px;
}
